.questions-container {
    padding: 15px;

    .title {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 600;
    }

    .questions-content {
        display: flex;
        gap: 25px;

        .description {
            width: 50%;
        }

        .group-upload {
            padding-top: 15px;
            .label-up {
                height: 30px;
                border: 1px solid red;
                border-radius: 5px;
                padding: 0px 10px;
                margin-right: 5px;
                cursor: pointer;
            }
        }

        .btn-add {
            .icon-add {
                font-size: 30px;
                color: red;
                cursor: pointer;
            }
        }
    }
}